
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.position-fixed {
  width: 100%;
  position: fixed;
  bottom: 0
}